@media (min-width: 1200px) 
{
.col-xl-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
}
.col-xl-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
}
.container {
    max-width: 1140px;
}
}

@media (min-width: 992px) and (max-width: 1199px)
{   .col-lg-9 {
        -ms-flex: 0 0 75%;
        flex: 0 0 75%;
        max-width: 75%;
    }
    .col-lg-2 {
        -ms-flex: 0 0 16.666667%;
        flex: 0 0 16.666667%;
        max-width: 16.666667%;
    }
    .col-lg-6 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
}


@media (min-width: 768px) and (max-width: 991px)
{.col-md-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}
}
@media (min-width: 576px) and (max-width: 767px){
	.col-sm-12 {
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%;
	}
}

@media (min-width: 1200px){
    .logo img {
        width: 55%;
        max-height: 120px;
        max-width: 95px;
    }
}
@media (min-width: 992px) and (max-width: 1199px)
{
    .logo img {
        width: 85%;
    }
}
@media (min-width: 768px) and (max-width: 991px)
{
    .logo img {
        width: 130%;
    }
}
@media (min-width: 576px) and (max-width: 767px) {
    .logo img {
        width: 150%;
    }
}
@media (max-width: 575px) {
    .logo img {
        width: 180%;
    }
}

@media screen and (max-width: 768px){
	.wraper{ width:100%; margin:auto;}
	.header{ display:block; padding:0; margin:0; height:auto;}
	/* .logo{ width:100px; height:100px; margin:auto; padding:10px;} */
	.nav{ width:auto; padding:10px; justify-content: space-around; border-top:2px solid #E47066;}
	.menu { flex-direction:column; height: auto;}
	.menu a{ width:100%; text-align:center; line-height:40px;}
	.container{ padding:0; margin:0;}
	.project{ margin:auto; }
	.project .tit{ margin:auto; padding:20px;}
	.project ul{ display:block;}
	.project ul li{ width:100%;}
	.project ul li .pic{ height:300px;}
}